#portfolioHeader
	border-bottom: 2px solid whitesmoke
	padding-bottom: 10px
	h3
		text-align: center
#portfolioStockRow
	border-bottom: 2px solid whitesmoke
	padding: 20px
	p
		display: inline
	p,div
		text-align: center
	.sellBtn
		display: inline